# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db